@import "tailwindcss";

:root {
  --font-inter: 'Inter', system-ui, sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

.text-balance {
  text-wrap: balance;
}
